## Introduction
In this case study, we'll dive into the practical application of Exploratory Data Analysis (EDA) within the banking and financial services sector. my main focus will be on understanding how data analysis helps in managing risk when lending money to customers or simply reducing potential financial losses..

## Business Understanding:

As per my Experience with one of India's premier financial institutions ICICI, I've observed that, one of the key challenges to the NBFCs OR BFSI is assessing the risk of lending to customers with insufficient or no credit history while taking care of thier business. Some customers would take advantage of this situation and become defaulters, leading to financial losses for the bank.

So, it is crucial to analyze the patterns present in the data to ensure that loan applicants capable of repaying are not rejected while minimizing the risk of approving loans to potential defaulters.

When a customer applies for a loan, the company must decide whether to approve or reject the application based on the applicant's profile. Two risks are associated with this decision:

1. If the applicant is likely to repay the loan, but the loan is not approved, it results in a loss of business for the company.
2. If the applicant is unlikely to repay the loan (i.e., they are likely to default), approving the loan may lead to a financial loss for the company.

The available data contains information about loan applications, including two types of scenarios:

- Clients with payment difficulties: They had late payments for more than a specified number of days on at least one of the initial loan installments.
- All other cases: Payments were made on time.

The company can take one of four decisions regarding a loan application:

- Approved: The loan application is approved.
- Cancelled: The client cancelled the application during the approval process, either due to a change of mind or unfavorable pricing due to higher risk.
- Refused: The company rejected the loan application (e.g., the client did not meet the requirements).
- Unused offer: The loan was cancelled by the client at different stages of the process.

In this case study, we will use Exploratory Data Analysis (EDA) to understand how consumer attributes and loan attributes influence the tendency of default and risk when lending money to customers.g money to customers.ers.le lending at ICICI Bank.tendency of default.

## Business Objectives
This case study aims to identify patterns which indicate if a client has difficulty paying their installments which may be used for taking actions such as denying the loan, reducing the amount of loan, lending (to risky applicants) at a higher interest rate, etc. This will ensure that the consumers capable of repaying the loan are not rejected. Identification of such applicants using EDA is the aim of this case study.

In other words, the company wants to understand the driving factors (or driver variables) behind loan default, i.e. the variables which are strong indicators of default. The company can utilise this knowledge for its portfolio and risk assessment.

The data utilized in this analysis has been sourced from [Kaggle](https://www.kaggle.com/datasets/ravichan76/application-data).

The file application_data.csvontains s comprehensive client information at the time of application, particularly focusing on discerning if a client encounters payment difficulties.

Additionally, the dataset previous_application.csv provides insights into the client's historical loan data, detailing whether past applications were approved, cancelled, refused, or resulted in an unused offer.er

## 1.Importing Libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
plt.style.use('ggplot')
import plotly.express as px
#surpress warning
import warnings
warnings.filterwarnings('ignore')

## 2. Reading and Inspection

In [ ]:
df = pd.read_csv(r'D:\PortfolioProject\PythonPortfolioProjects\Bank\application_data.csv')
df.sample(5)

In [ ]:
df.shape

In [ ]:
df.describe().T[0:10]

In [ ]:
df.dtypes

In [ ]:
df.select_dtypes(include='object').columns

In [ ]:
df.select_dtypes(include='number').columns

## 3. Checking null values

In [ ]:
df.shape

In [ ]:
df.isnull().sum().plot(kind='line')

Insight:
Based on the above graph, it is evidednt that the dataset has many missing values. Let's check for each column what is the % of missing values

In [ ]:
round((df.isnull().sum()/len(df))*100, 2).sort_values(ascending=False)

In [ ]:
#Dropping off all the columns with more than 46% null values
df.drop(columns=df.columns[(df.isna().sum()/len(df)*100 > 46)],inplace=True)

There are still columns with a notably high null percentage, one may eliminate these columns based on their use or impute them with the appropriate value. I selected to eliminate columns based on my intuition or if they had a high rate of null values.

In [ ]:
df.drop(columns=['FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3','FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6',
       'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9','FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12',
       'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15','FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18',
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE',
       'FLAG_PHONE','CNT_FAM_MEMBERS','REGION_RATING_CLIENT_W_CITY','EXT_SOURCE_3'], inplace=True)

In [ ]:
np.array(df.columns[(df.isna().mean()>0)])

We will examine the above mentioned columns for anomalies and potential imputers.

### 4. Checking columns for values to impute

'AMT_ANNUITY' Variable

In [ ]:
#Null values in AMT_ANNUITY column
df['AMT_ANNUITY'].isna().sum()

In [ ]:
df['AMT_ANNUITY'].isna().sum()/len(df)

In [ ]:
#Checking for any outliers using a box plot
sns.boxplot(data=df,x='AMT_ANNUITY')

We can see the outliers are present in the data and the difference between max and min is significant so, impute null values with median value rather than replacing with mean.

In [ ]:
df['AMT_ANNUITY'].fillna(value=df['AMT_ANNUITY'].median(),inplace=True)

In [ ]:
df['AMT_ANNUITY'].isna().sum()

'AMT_GOODS_PRICE' Variable

In [ ]:
#Null values in AMT_GOODS_PRICE column
df['AMT_GOODS_PRICE'].isna().sum()/len(df)

In [ ]:
#Checking for any outliers using a box plot
sns.boxplot(data=df,x='AMT_GOODS_PRICE')

In [ ]:
# Imputing null values with median
df['AMT_GOODS_PRICE'].fillna(value=df['AMT_GOODS_PRICE'].median(),inplace=True)

In [ ]:
df['AMT_GOODS_PRICE'].isna().sum()

'NAME_TYPE_SUITE' Variable

In [ ]:
# Checking for the percentage of null values in NAME_TYPE_SUITE categorical variable
df['NAME_TYPE_SUITE'].isna().sum()/len(df)*100

As a categorical variable, 'NAME TYPE SUITE' contains around 0.42% missing values. Therefore, we may impute the missing data with the most common group, "Unaccompanied."

In [ ]:
df['NAME_TYPE_SUITE'] = df['NAME_TYPE_SUITE'].fillna(df['NAME_TYPE_SUITE'].value_counts().index[0])

In [ ]:
df['NAME_TYPE_SUITE'].isna().sum()

'OCCUPATION_TYPE' Variable

In [ ]:
df['OCCUPATION_TYPE'].isna().sum()/len(df)*100

In [ ]:
df['OCCUPATION_TYPE'].value_counts().index[0]

As a categorical variable, 'OCCUPATION_TYPE' contains around 31.3% missing values. Therefore, we may impute the missing data with the most common group, "Laborers."

In [ ]:
df['OCCUPATION_TYPE'] = df['OCCUPATION_TYPE'].fillna(df['OCCUPATION_TYPE'].value_counts().index[0])

In [ ]:
df['OCCUPATION_TYPE'].isna().sum()

'EXT_SOURCE_2' Variable

In [ ]:
df['EXT_SOURCE_2'].isna().sum()/len(df)*100

In [ ]:
#Checking for any outliers using a box plot
sns.boxplot(data=df,x='EXT_SOURCE_2')

Because there are no outliers in the data, we may impute missing values using the mean.

In [ ]:
# Imputing null values with mode
df['EXT_SOURCE_2'].fillna(value=df['EXT_SOURCE_2'].mean(),inplace=True)

In [ ]:
df['EXT_SOURCE_2'].isna().sum()

In [ ]:
df['CODE_GENDER'].value_counts()

As can be seen, Female(F) is the majority, and just four rows include XNA values. Thus, updating those columns with Gender = 'F' will not have a significant effect on the dataset.

In [ ]:
df.loc[df['CODE_GENDER']=='XNA','CODE_GENDER']='F'

In [ ]:
df['DAYS_LAST_PHONE_CHANGE'].fillna(df.DAYS_LAST_PHONE_CHANGE.mode()[0],inplace = True)

In [ ]:
df['AMT_REQ_CREDIT_BUREAU_HOUR'] = df['AMT_REQ_CREDIT_BUREAU_HOUR'].fillna(df['AMT_REQ_CREDIT_BUREAU_HOUR'].value_counts().index[0])

In [ ]:
df['AMT_REQ_CREDIT_BUREAU_DAY'] = df['AMT_REQ_CREDIT_BUREAU_DAY'].fillna(df['AMT_REQ_CREDIT_BUREAU_DAY'].value_counts().index[0])

In [ ]:
df['AMT_REQ_CREDIT_BUREAU_WEEK'] = df['AMT_REQ_CREDIT_BUREAU_WEEK'].fillna(df['AMT_REQ_CREDIT_BUREAU_WEEK'].value_counts().index[0])

In [ ]:
df['AMT_REQ_CREDIT_BUREAU_MON'] = df['AMT_REQ_CREDIT_BUREAU_MON'].fillna(df['AMT_REQ_CREDIT_BUREAU_MON'].value_counts().index[0])

In [ ]:
df['AMT_REQ_CREDIT_BUREAU_QRT'] = df['AMT_REQ_CREDIT_BUREAU_QRT'].fillna(df['AMT_REQ_CREDIT_BUREAU_QRT'].value_counts().index[0])

In [ ]:
df['AMT_REQ_CREDIT_BUREAU_YEAR'] = df['AMT_REQ_CREDIT_BUREAU_YEAR'].fillna(df['AMT_REQ_CREDIT_BUREAU_YEAR'].value_counts().index[0])

In [ ]:
(df.isnull().sum()/len(df)*100).sort_values(ascending=False).head()

In [ ]:
df[df['ORGANIZATION_TYPE']=='XNA']['NAME_INCOME_TYPE'].head()

We can see, for almost all the instances where 'ORGANIZATION_TYPE' = 'XNA' they fall in Pensioner Income category

In [ ]:
df['ORGANIZATION_TYPE'] = df['ORGANIZATION_TYPE'].replace('XNA','Pensioner')

In [ ]:
num_values = pd.to_numeric(df['CNT_CHILDREN'], errors='coerce')
non_numeric = df['CNT_CHILDREN'][num_values.isna()]

print(non_numeric)

there are for datatypes that are non-numeric that are f let's remove it

In [ ]:
numeric_values = pd.to_numeric(df['CNT_CHILDREN'], errors='coerce')
df = df[~numeric_values.isna()]

In [ ]:
sns.boxplot(data=df,x='CNT_CHILDREN')

### 5. Changing Data Types

we already see there are many columns that have float datatypes so All can be converted to integer data types.

In [ ]:
cols=df.select_dtypes(include='number').columns
cols

In [ ]:
df[cols]= df[cols].astype('int64',errors='ignore')

In [ ]:
cols=df.select_dtypes(include='object').columns
cols

In [ ]:
df[cols]= df[cols].astype('str',errors='ignore')

In [ ]:
df['DAYS_BIRTH'] = abs(df['DAYS_BIRTH'])//365
df['DAYS_BIRTH']

In [ ]:
df['DAYS_EMPLOYED'] = round(abs(df['DAYS_EMPLOYED'])/365,2)
df['DAYS_EMPLOYED']

In [ ]:
df['DAYS_REGISTRATION'] = round(abs(df['DAYS_REGISTRATION']/365),2)
df['DAYS_REGISTRATION']

In [ ]:
df['DAYS_ID_PUBLISH'] = round(abs(df['DAYS_ID_PUBLISH']/365),2)
df['DAYS_ID_PUBLISH']

### 6. Dealing with outliers

In [ ]:
df.columns

In [ ]:
sns.boxplot(df, x='AMT_INCOME_TOTAL')

In [ ]:
px.box(df,x='AMT_INCOME_TOTAL',height=300,width=700,template='plotly_white',
      title="Box plot of AMT_INCOME_TOTAL Variable")

Observing that around 30% of the data are outliers indicates that the data is widely spread and requires additional investigation.

We can see that there is no statistically significant difference across quantiles, and as income is a continuous variable, it varies from person to person.

In [ ]:
px.box(df,x='AMT_CREDIT',height=300,width=700,template='plotly_white',
      title="Box plot of AMT_CREDIT Variable")

We can see that there is no statistically significant difference across quantiles, and as credit is a continuous variable, it varies from person to person.

In [ ]:
px.box(df,x='DAYS_BIRTH',height=300,width=700,template='plotly_white',
      title="Box plot of DAYS_BIRTH Variable")

According to the box plot, there are no outliers. There is no substantial gap between the mean and the median.

In [ ]:
px.box(df,x='AMT_ANNUITY',height=300,width=700,template='plotly_white',
      title="Box plot of AMT_ANNUITY Variable")

Observing that 30% of the data are outliers indicates that the data is widely spread and requires additional investigation.We can see that there Observing that 30% of the data are outliers indicates that the data is widely spread and requires additional investigation.We can see that there is no statistically significant difference across quantiles, and as income is a continuous variable, it varies from person to person. no statistically significant difference across quantiles, and as income is a continuous variable, it varies from person to person.

In [ ]:
px.box(df,x='AMT_GOODS_PRICE',height=300,width=700,template='plotly_white',
      title="Box plot of AMT_GOODS_PRICE Variable")

Observing the box plot, we can say that around 30% of the data are outliers indicates that the data is widely spread and requires additional investigation.We can see that there is no statisticalObserving the box plot, we can say that 30% of the data are outliers indicates that the data is widely spread and requires additional investigation.We can see that there is no statistically significant difference across quantiles, and as income is a continuous variable, it varies from person to person.ly significant difference across quantiles, and as income is a continuous variable, it varies from person to person.

### 7. Continous variables binning

In [ ]:
#Creating a categorical variable based on income total
df['AMT_INCOME_TOTAL_CAT'] = pd.qcut(df['AMT_INCOME_TOTAL'],q=[0,0.2,0.5,0.8,0.95,1],
       labels=['VeryLow','Low','Medium','High','VeryHigh'])

In [ ]:
df['AMT_INCOME_TOTAL_CAT'].head()

In [ ]:
#Creating a categorical variable based on credit amount
df['AMT_CREDIT_CAT'] = pd.qcut(df['AMT_CREDIT'],q=[0,0.2,0.5,0.8,0.95,1], labels=['VeryLow','Low','Medium','High','VeryHigh'])

In [ ]:
df['AMT_CREDIT_CAT'].head()

In [ ]:
#Creating a categorical variable based on total_amount of goods
df['AMT_GOODS_PRICE_CAT'] = pd.qcut(df['AMT_GOODS_PRICE'],q=[0,0.2,0.5,0.8,0.95,1],
       labels=['VeryLow','Low','Medium','High','VeryHigh'])

In [ ]:
df['AMT_GOODS_PRICE_CAT'].head()

In [ ]:
#Creating a categorical variable based on total_amount of annuity
df['AMT_ANNUITY_CAT'] = pd.qcut(df['AMT_ANNUITY'],q=[0,0.2,0.5,0.8,0.95,1],
       labels=['VeryLow','Low','Medium','High','VeryHigh'])

In [ ]:
df['AMT_ANNUITY_CAT'].head()

In [ ]:
df['DAYS_BIRTH'].max()

In [ ]:
#Creating a categorical variable based on total_amount of annuity
bins=[0,20,30,40,50,60,70]#Creating a categorical variable based on total_amount of annuity
bins=[0,20,30,40,50,60,70]
labels=['0-20','21-30','31-40','41-50','51-60','61-70']
df['DAYS_BIRTH_CAT'] = pd.cut(df['DAYS_BIRTH'],bins=bins,labels=labels,right=True)
labels=['0-20','21-30','31-40','41-50','51-60','61-70']
df['DAYS_BIRTH_CAT'] = pd.cut(df['DAYS_BIRTH'],bins=bins,labels=labels,right=True)

In [ ]:
df['DAYS_BIRTH_CAT'].head()

In [ ]:
# Creating a new column determining the ratio of AMT_CREDIT and AMT_INCOME_TOTAL.
df['CREDIT_INCOME_RATIO']=round((df['AMT_CREDIT']/df['AMT_INCOME_TOTAL']),1)

In [ ]:
# Creating a new column determining the proportion of the individual's social circle who defaulted after 30DPD.
df['30DPD_default_social_circle']=df['DEF_30_CNT_SOCIAL_CIRCLE']/df['OBS_30_CNT_SOCIAL_CIRCLE']

In [ ]:
df.drop(columns=['DEF_30_CNT_SOCIAL_CIRCLE','OBS_30_CNT_SOCIAL_CIRCLE'],inplace=True)

In [ ]:
df['30DPD_default_social_circle'] = round(df['30DPD_default_social_circle']*100,2)

In [ ]:
df['30DPD_default_social_circle'].fillna(value=0,inplace=True)

In [ ]:
df['30DPD_default_social_circle']

In [ ]:
# Creating a new column determining the proportion of the individual's social circle who defaulted after 60DPD.

df['60DPD_default_social_circle']=df['DEF_60_CNT_SOCIAL_CIRCLE']/df['OBS_60_CNT_SOCIAL_CIRCLE']

In [ ]:
df.drop(columns=['DEF_60_CNT_SOCIAL_CIRCLE','OBS_60_CNT_SOCIAL_CIRCLE'],inplace=True)

In [ ]:
df['60DPD_default_social_circle'].fillna(value=0,inplace=True)

In [ ]:
df['60DPD_default_social_circle'] = round(df['60DPD_default_social_circle']*100,2)
df['60DPD_default_social_circle']

In [ ]:
df.drop(columns=['AMT_REQ_CREDIT_BUREAU_HOUR','AMT_REQ_CREDIT_BUREAU_DAY',
                'AMT_REQ_CREDIT_BUREAU_WEEK','AMT_REQ_CREDIT_BUREAU_MON',
                'AMT_REQ_CREDIT_BUREAU_QRT','AMT_REQ_CREDIT_BUREAU_YEAR',
                'WEEKDAY_APPR_PROCESS_START','HOUR_APPR_PROCESS_START'],inplace=True)

### 8. Analysis

In [ ]:
df['TARGET'].value_counts()

In [ ]:
import plotly.graph_objects as go
fig = go.Figure()
fig = px.pie(df,names='TARGET', title='TARGET Variable - DEFAULTER Vs NONDEFAULTER',
      height=450,width=600,template='plotly_white')
fig.update_traces(hoverinfo='label+percent',textfont_size=13,
                 textinfo='label+percent',pull=[0,0.2])
fig.update_layout(font_size=10)
fig.show()

Using a pie chart to identify the number of defaulters (TARGET = 1) and those who paid on time (TARGET = 0), it is evident that there is an imbalance between those who defaulted and those who did not.

In [ ]:
df['TARGET'].unique()

In [ ]:
#Splitting the data in two 
df_1 = df[df['TARGET']==1]
df_0 = df[df['TARGET']==0]

### 8.1 Univariate Analysis of Categorical Variables

In [ ]:
# function to count plot for categorical variables
def cat_plot(col):
    plt.style.use('ggplot')
    sns.despine
    fig,(ax1,ax2) = plt.subplots(1,2,figsize=(13,6))
    sns.countplot(x=col, data=df_1,ax=ax1,palette='Set1')
    ax1.set_ylabel('Total Count',fontweight="bold")
    ax1.set_xlabel(f'{col}', fontweight="bold")
    ax1.set_title(f'{col} disribution for Defaulters',fontsize=10)
    ax1.set_xticklabels(ax1.get_xticklabels(), rotation=45, ha="right")

# Adding the normalized percentage for easier comparision between defaulter and non-defaulter
    for p in ax1.patches:
        ax1.annotate('{:.2f}%'.format((p.get_height()/len(df_1))*100), (p.get_x()+0.05, p.get_height()+50))
        
    sns.countplot(x=col, data=df_0,ax=ax2,palette='Set1')
    ax2.set_ylabel('Total Count',fontweight="bold")
    ax2.set_xlabel(f'{col}', fontweight="bold")
    ax2.set_title(f'{col} distribution for NON_Defaulters',fontsize=10)    
    ax2.set_xticklabels(ax2.get_xticklabels(), rotation=45, ha="right")
    
  # Adding the normalized percentage for easier comparision between defaulter and non-defaulter
    for p in ax2.patches:
        ax2.annotate('{:.2f}%'.format((p.get_height()/len(df_0))*100), (p.get_x()+0.05, p.get_height()+50))
    plt.subplots_adjust(wspace=0.2,hspace=.3) 
    plt.show()

In [ ]:
cat_cols=df.select_dtypes(exclude='number').columns

In [ ]:
for col in cat_cols:
    print(col, df[col].dtypes)

In [ ]:
cat_cols=cat_cols.drop(['OCCUPATION_TYPE','ORGANIZATION_TYPE'])

In [ ]:
for col in cat_cols:
    cat_plot(col)

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

Inferences:

#### NAME_CONTRACT_TYPE :
- Cash Loan contracts have a higher number of credit than revolving loan contracts (Defaulters).
- Cash Loan contracts have a higher number of credit than revolving loan contracts (Non-Defaulters).
- Count of females is more.

#### CODE_GENDER :
- Females account for 67% of the non-defaulters and 55% of the defaulters, respectively. We may assume that because more women seek loans than men, there are also more women who fail on their payments. However, the default rate of FEMALES is much lower than that of their MALE counterparts.

#### FLAG_OWN_CAR :
- Automobile owners make up 65.7% of the non-defaulters and 69.5% of the defaulters. While persons with vehicles are more likely to default, the explanation may be that there are more people without cars. Considering the percentages in both figures, we can deduce that the default rate of automobile owners is lower than that of carless individuals.

#### NAME_TYPE_SUIT :
- The majority of loan applicants were accompanied throughout the application process. And with a few customers, a family member was present for both Defaulters and Non-Defaulters, but the presence of a family member during loan application had no impact on default. Moreover, both populations have identical proportions.

#### NAME_INCOME_TYPE :
- State Servant and Businessman are at minimal risk of default.
- Most of the loans are distributed to working-class people. Additionally, we see that the working class contributes 51% to non-defaulters but 61% to defaulters. Clearly, the likelihood of default is greater for them.

#### NAME_EDUCATION_TYPE :
- Except for those with a higher level of education, who are less likely to fail, and those with a secondary level of education, who are more likely to default, almost all Education groups are equally likely to default.

#### NAME_FAMILY_STATUS :
- Married Clients seem to apply most for the loan compared to others for both Defaulters and Non-Defaulters.
- The graph, however, reveals that Single/non-Married individuals contribute 14.5% to Non-Defaulters and 18% to Defaulters. Therefore, there is a greater danger associated with them.

#### NAME_HOUSING_TYPE :
- It is evident from the graph that homeowners/tenants are more likely to seek loans. People who live with their parents tend to default more often than others. Due to their parents living with them, their living expenditures might be greater.

#### NAME_INCOME_CAT :
- The Very High Income category defaults less often. They provide 12.4% to the overall number of defaulters but 15.6% to the number of Non-Defaulters.

#### AMT_CREDIT_CAT :
- The Very High Credit category defaults less often, the greatest risk is related to those who belong to the Low to Medium Credit amount category.

#### AMT_GOODS_PRICE_CAT :
- The High & Very High Good Price category defaults less often, the greatest risk is related to those who belong to the Low and Very Low Good price category.

#### DAYS_BIRTH_CAT :
- We see that those between the ages of 20 and 40 tend to default more often. Therefore, they are the riskiest borrowers. Beginning at age 40, individuals tend to default less often as their age increases. One of the reasons might be because people find employment around that age, and their income improves with age.

In [ ]:
plt.figure(figsize=(10,8))

plt.subplot(211)
df_1['30DPD_default_social_circle'].plot.hist(bins=np.arange(0,100,5),color="r")
plt.title('Distribution of 30DPD_default_social_circle for Defaulters',fontsize=12)
plt.xlabel('30DPD_default_social_circle')
plt.ylabel('TOTAL COUNT')

plt.subplot(212)
df_0['30DPD_default_social_circle'].plot.hist(bins=np.arange(0,100,5),color='c')
plt.title('Distribution of 30DPD_default_social_circle for Non-Defaulters',fontsize=12)
plt.xlabel('30DPD_default_social_circle')
plt.ylabel('TOTAL COUNT')  

plt.subplots_adjust(hspace=.3)

plt.show();

In [ ]:
plt.figure(figsize=(10,8))

plt.subplot(211)
df_1['60DPD_default_social_circle'].plot.hist(bins=np.arange(0,100,5),color='r')
plt.title('Distribution of 60DPD_default_social_circle for Defaulters',fontsize=12)
plt.xlabel('60DPD_default_social_circle')
plt.ylabel('TOTAL COUNT')

plt.subplot(212)
df_0['60DPD_default_social_circle'].plot.hist(bins=np.arange(0,100,5),color='c')
plt.title('Distribution of 60DPD_default_social_circle for Non-Defaulters',fontsize=12)
plt.xlabel('60DPD_default_social_circle')
plt.ylabel('TOTAL COUNT')  

plt.subplots_adjust(hspace=.3)

plt.show();

In [ ]:
# Convert the 'TARGET' column to strings
df_1['TARGET'] = df_1['TARGET'].astype(str)

plt.figure(figsize=(10,8))

sns.countplot(data=df_1, y='OCCUPATION_TYPE', hue='TARGET',
              order=df_1['OCCUPATION_TYPE'].value_counts(ascending=False).index, palette='Set1')

plt.title('OCCUPATION_TYPE for DEFAULTERS', fontsize=12)
plt.xticks(rotation=45, ha="right", fontsize=10)
plt.legend(loc='lower right')

plt.show();

In [ ]:
df_0['TARGET'] = df_0['TARGET'].astype(str)

plt.figure(figsize=(10,8))

sns.countplot(data=df_0, y='OCCUPATION_TYPE', hue='TARGET',
              order=df_0['OCCUPATION_TYPE'].value_counts().index, palette='cool')

plt.title('OCCUPATION_TYPE for NON_DEFAULTERS', fontsize=12)
plt.xticks(rotation=360, ha="right")
plt.yticks(fontsize=10)
plt.legend(loc='lower right')

plt.show();

In [ ]:
plt.figure(figsize=(20,20))

sns.countplot(data=df_1,y='ORGANIZATION_TYPE',hue='TARGET',
             order=df_1['ORGANIZATION_TYPE'].value_counts().index,palette='Set1')
plt.title('ORGANIZATION_TYPE for DEFAULTERS',fontsize=20)
plt.xticks( rotation=360, ha="right",fontsize=15)
plt.yticks(fontsize=15)

plt.show();

In [ ]:
plt.figure(figsize=(20,20))

sns.countplot(data=df_0,y='ORGANIZATION_TYPE',hue='TARGET',
             order=df_0['ORGANIZATION_TYPE'].value_counts().index,palette='cool')
plt.title('OCCUPATION_TYPE for NON_DEFAULTERS',fontsize=20)
plt.xticks( rotation=360, ha="right",fontsize=15)
plt.yticks( fontsize=15)

plt.show();

The majority of credit-seeking clients are Business entity Type 3, Self-employed, Other, Medicine, and Government organisations.
Fewer customers come from Industry types 8, 6, 10, religion and trade types 5, 4

### 8.2 Univariate Analysis of Numerical Variables

In [ ]:
# function to count plot for numerical variables
def num_plot(col):
    plt.style.use('ggplot')
    sns.despine
    fig,(ax1,ax2) = plt.subplots(1,2,figsize=(14,6))
    sns.distplot(x=df_1[col],ax=ax1,kde=True,color='green')
    ax1.set_ylabel('Total Count',fontweight="bold")
    ax1.set_xlabel(f'{col}', fontweight="bold")
    ax1.set_title(f'{col} disribution for Defaulters',fontsize=14)
    ax1.set_xscale('log')
   
    sns.distplot(x=df_0[col],ax=ax2,kde=True,color='b')
    ax2.set_ylabel('Total Count',fontweight="bold")
    ax2.set_xlabel(f'{col}', fontweight="bold")
    ax2.set_title(f'{col} distribution for NON_Defaulters',fontsize=14)  
    ax2.set_xscale('log')

    plt.subplots_adjust(wspace=0.2) 
    plt.show()

In [ ]:
num_plot('AMT_GOODS_PRICE')

In [ ]:
num_plot('AMT_ANNUITY')

In [ ]:
num_plot('AMT_CREDIT')

Dist. plot highlights the curve shape which is wider for Defaulters in comparison to Non-Defaulters which is narrower with well-defined edges.

People with Payment difficulties has largely staggered income as compared to people who dosen't.

Dist. plot clearly shows that the shape in Income total, Annuity, Credit and Good Price is similar for Target 0 and similar for Target 1

In [ ]:
num_plot('CREDIT_INCOME_RATIO')

CREDIT_INCOME_RATIO = CREDIT_AMOUNT/AMT_INCOME_TOTAL

Although there does not seem to be an obvious distinction between the group that defaulted and the group that did not,
we can see that when the CREDIT INCOME RATIO is more than 50, individuals default.

### 9.Bivariate Analysis

9.1 Bivariate Analysis of Numerical Columns

In [ ]:
def bivarnum_plot(col1,col2):
    fig,(ax1,ax2) = plt.subplots(1,2,figsize=(14,7))
    sns.scatterplot(data=df_1,x=col1,y=col2,ax=ax1,)
    ax1.set_xlabel(col1)
    ax1.set_ylabel(col2)
    ax1.set_title(f'Scatter plot of {col1} vs {col2} for Defaulters',fontsize=12)
    
    sns.scatterplot(data=df_0,x=col1,y=col2,ax=ax2)
    ax2.set_xlabel(col1)
    ax2.set_ylabel(col2)
    ax2.set_title(f'Scatter plot of {col1} vs {col2} for Non-Defaulters',fontsize=12)
    plt.show()

In [ ]:
bivarnum_plot('AMT_ANNUITY','AMT_CREDIT')

In [ ]:
bivarnum_plot('AMT_GOODS_PRICE','AMT_CREDIT')

The scatter plots reveal that persons who have not defaulted on their loans have a steeper slope than those who have had payment troubles. This means that for each unit rise in annuity and good price for which the loan is taken, the amount of credit taken by a Non-Defauter would grow higher than the amount of credit taken by a Defaulter.

In [ ]:
bivarnum_plot('AMT_CREDIT','CNT_CHILDREN')

We can observe that the density in the bottom left corner of both cases is comparable, meaning individuals are equally likely to default if both the number of children and the AMT CREDIT are little. We may note that households with more children and bigger AMT CREDIT defaults occur less often.

#### Bivariate Analysis of Categorical and Numerical Columns¶

In [ ]:
sns.catplot(data=df_0,x='NAME_EDUCATION_TYPE',y='AMT_CREDIT',hue='NAME_FAMILY_STATUS',
          palette='muted', kind='bar',height=7,aspect=3,legend=False)
plt.title('Credit Amount vs Education Status For Non-Defaulters',fontsize=20)
plt.xlabel('NAME_EDUCATION_TYPE',fontsize=20)
plt.ylabel('AMT_CREDIT',fontsize=20)
plt.xticks(fontsize=15)
plt.yticks(fontsize=15)
plt.legend(loc='best',fontsize=15)
plt.show();

Conclusions to be drawn from the above graph  for Non-Defaulters

Clients who are married are having greater amount of Credit amout to clear, except from those who did pursue  lower secondary and academic degrees

Customers with a academic degree have bigger credit limits, with the Civil Marriage category being the highest.

Lower-educated consumers tend to have lower credit limits, with widows being the lowest.

In [ ]:
sns.catplot(data=df_1,x='NAME_EDUCATION_TYPE',y='AMT_CREDIT',hue='NAME_FAMILY_STATUS',
          palette='muted', kind='bar',height=7,aspect=3,legend=False)
plt.title('Credit Amount vs Education Status For Defaulters',fontsize=20)
plt.xlabel('NAME_EDUCATION_TYPE',fontsize=20)
plt.ylabel('AMT_CREDIT',fontsize=20)
plt.xticks(fontsize=15)
plt.yticks(fontsize=15)
plt.legend(loc='best',fontsize=15)
plt.show();

Conclusions to be drawn from the above graph for Defaulters

Customers with lower education have a lower average credit limit.
Customers with an academic degree who are married have a greater credit limit and a higher default rate.
Across all education segments, married customers have a higher credit amount.
Single and Married are the only 2 family types present in academic degree

In [ ]:
plt.figure(figsize=(30,12)) 
plt.yscale('log')                     

sns.boxplot(data =df_0, x='NAME_EDUCATION_TYPE',y='AMT_INCOME_TOTAL',
            hue ='NAME_FAMILY_STATUS',orient='v',palette='Set2')
plt.title('Income Amount vs Education Statusvs FAMILY_STATUS for Non-Defaulters',fontsize= 30)
plt.xlabel("NAME_EDUCATION_TYPE",fontsize= 20, fontweight="bold")
plt.ylabel("AMT_INCOME_TOTAL",fontsize= 20, fontweight="bold")
plt.xticks(rotation=45, fontsize=20)
plt.yticks(rotation=360, fontsize=20)
plt.legend( loc = 'best',fontsize=15)                                              

plt.show();

The clients whose marital status is separated have the highest mean income compared to others.

Clients with a Higher Academic degree are having the greatest average salary.

Clients who are married have widely varying income statistics.

Lower secondary civil marriage family incomes are lower than those of others.

Clients with a Lower Secondary degree are having the lowest average salary.

Widow Clients with an Academic degree have a small number of outliers and lack the First and Third Quartiles. In addition,
there are considerably fewer outliers among clients with academic degrees than among those with other levels of education.

In [ ]:
plt.figure(figsize=(30,12)) 
plt.yscale('log')                     

sns.boxplot(data =df_1, x='NAME_EDUCATION_TYPE',y='AMT_INCOME_TOTAL',
            hue ='NAME_FAMILY_STATUS',orient='v',palette='Set2')
plt.title('Income Amount vs Education Status vs FAMILY_STATUS for Defaulters',fontsize= 30)
plt.xlabel("NAME_EDUCATION_TYPE",fontsize= 20, fontweight="bold")
plt.ylabel("AMT_INCOME_TOTAL",fontsize= 20, fontweight="bold")
plt.xticks(rotation=45, fontsize=20)
plt.yticks(rotation=360, fontsize=20)
plt.legend( loc = 'best',fontsize=15) 

plt.show();

Similar to Target0, based on the above boxplot for Education type 'Higher education', the income amount is the same regardless of family status

Clients who default on their loans have comparatively lower income than Non-defaulters.

Fewer outliers for those who own an Academic degree, yet their salary is rather more than those with a Higher education.

In [ ]:
plt.figure(figsize=(30,12)) 
plt.yscale('log')                     

sns.boxplot(data =df_0, x='NAME_EDUCATION_TYPE',y='AMT_CREDIT',
            hue ='NAME_FAMILY_STATUS',orient='v',palette='Set2')
plt.title('Credit Amount vs Education Status vs FAMILY_STATUS for Non-Defaulters',fontsize= 30)
plt.xlabel("NAME_EDUCATION_TYPE",fontsize= 20, fontweight="bold")
plt.ylabel("AMT_CREDIT",fontsize= 20, fontweight="bold")
plt.xticks(rotation=45, fontsize=20)
plt.yticks(rotation=360, fontsize=20)
plt.legend( loc = 'best',fontsize=15)                                              

plt.show();

There are more outliers among clients with a higher degree and family statuses of marriage,single and civil marriage while clients who are having Academic degree are having fewer outliers.

Clients who are married tend to take bigger higher credit loans.

Widows and clients with an academic degree prefer to take out higher credit loans.

Clients who completed their Higher education tend to take greater credit loans.

In [ ]:
plt.figure(figsize=(30,12)) 
plt.yscale('log')                     

sns.boxplot(data =df_1, x='NAME_EDUCATION_TYPE',y='AMT_CREDIT',
            hue ='NAME_FAMILY_STATUS',orient='v',palette='Set2')
plt.title('Credit Amount vs Education Status vs FAMILY_STATUS for Defaulters',fontsize= 30)
plt.xlabel("NAME_EDUCATION_TYPE",fontsize= 20, fontweight="bold")
plt.ylabel("AMT_CREDIT",fontsize= 20, fontweight="bold")
plt.xticks(rotation=45, fontsize=20)
plt.yticks(rotation=360, fontsize=20)
plt.legend( loc = 'best',fontsize=15)                                              


plt.show();

The majority of outliers belong to the Education types Higher education and Secondary.

Clients who are having Academic degree and involved in a civil marriage are taking greater amount of credit loan

According to the boxplot, customers who are married have the highest mean credit loan amount.

Clients who are  married  with academic degree applied for a larger credit loan. And is free of outliers and Single clients with academic degrees have a very slim boxplot with no outliers

Clients who completed their higher educaion tend to have the habit of taking greater amount of credit loans.

In [ ]:
plt.figure(figsize=(30,12)) 
plt.yscale('log')                     

sns.boxplot(data =df_0, x='NAME_EDUCATION_TYPE',y='AMT_INCOME_TOTAL',
            hue ='DAYS_BIRTH_CAT',orient='v',palette='Set2')
plt.title('Income amount vs Education Status vs Age for Non-Defaulters',fontsize= 30)
plt.xlabel("NAME_EDUCATION_TYPE",fontsize= 20, fontweight="bold")
plt.ylabel("AMT_INCOME_TOTAL",fontsize= 20, fontweight="bold")
plt.xticks(rotation=45, fontsize=20)
plt.yticks(rotation=360, fontsize=20)
plt.legend( loc = 'best',fontsize=15)                                              

plt.show();

Clients between the ages of 41-50 seem to be having the highest mean of income compared to others.

Clients between the ages of 61-70 seem to be having the lowest mean of income compared to others.

In [ ]:
plt.figure(figsize=(30,12)) 
plt.yscale('log')                     

sns.boxplot(data =df_1, x='NAME_EDUCATION_TYPE',y='AMT_INCOME_TOTAL',
            hue ='DAYS_BIRTH_CAT',orient='v',palette='Set2')
plt.title('Income amount vs Education Status vs Age for Defaulters',fontsize= 30)
plt.xlabel("NAME_EDUCATION_TYPE",fontsize= 20, fontweight="bold")
plt.ylabel("AMT_INCOME_TOTAL",fontsize= 20, fontweight="bold")
plt.xticks(rotation=45, fontsize=20)
plt.yticks(rotation=360, fontsize=20)
plt.legend( loc = 'best',fontsize=15)                                              
plt.show();

Clients who fail on their loans often have a lower income than those who have non-payment issues.

For Defaulters, Clients who are having Academic degree and ages between 31-40 are having the highestmean of income

In [ ]:
pd.pivot_table(data=df,index=['CODE_GENDER','AMT_INCOME_TOTAL_CAT'],
              columns=['NAME_EDUCATION_TYPE'],values='TARGET',aggfunc=np.mean)

Male Clients with Lower Secondary Education who earn a very low to moderate income have a high chance of default.

Male Clients with Secondary Education who earn a very low to moderate income have a high chance of default.

Customers who are male, have an incomplete education, and earn very low salaries are at a significant risk of default.

Male Clients with a Academic degree do not fail on their loans.
Women with an academic degree and a high income have a greater likelihood of defaulting on their loans.

### 10. Correlation

In [ ]:
num_cols = df.select_dtypes('number')
num_cols.columns

In [ ]:
corr1 = df_1.iloc[0:,2:]
corr0 = df_0.iloc[0:,2:]
corr1.drop(columns=['FLAG_MOBIL','FLAG_EMAIL'],inplace=True)
corr0.drop(columns=['FLAG_MOBIL','FLAG_EMAIL'],inplace=True)

In [ ]:
corr1 = corr1.select_dtypes(include = 'number')

In [ ]:
corr0 = corr0.select_dtypes(include = 'number')

In [ ]:
# Create mask for upper triangle
mask = np.zeros_like(corr0.corr())
triangle_indices = np.triu_indices_from(mask)
mask[triangle_indices] = True

plt.figure(figsize=(16, 12))
sns.set_style('white')

# Adjust the font size and annotation settings
sns.heatmap(corr0.corr().round(2), mask=mask, annot=True, fmt=".2f", cmap='summer', annot_kws={'size':25})
plt.title('Correlation for Non-Defaulters (Target 0)', fontsize=20)
plt.xticks(fontsize=12)
plt.yticks(fontsize=12)

plt.show();

##### Observation:

- AMT_CREDIT, AMT_ANNUITY, AMT_INCOME_TOTAL and AMT_GOODS_PRICE are strongly related.

- CREDIT_INCOME_RATIO increases with increase in AMT_CREDIT and AMT_GOODS_PRICE, decreases with increase in AMT_INCOME_TOTAL.

- Dense population(REGION_POPULATION_RELATIVE) indicates a quality grade(REGION_RATING_CLIENT)

- Those residing in prime locations(REGION_RATING_CLIENT) earn higher salaries(AMT_INCOME_TOTAL) comparing to people who dosen't.

- Individuals who have defaulted on a 30-day payment are also likely to default on a 60-day payment.

- Elderly individuals have higher credit to income ratios.

- Credit amounts are greater in densely populated regions.

- Clients have fewer children in densely crowded areas.

In [ ]:
# Create mask for upper triangle
mask = np.zeros_like(corr1.corr())
triangle_indices = np.triu_indices_from(mask)
mask[triangle_indices] = True

plt.figure(figsize=(16, 12))
sns.set_style('white')

# Adjust the font size and annotation settings
sns.heatmap(corr1.corr().round(2), mask=mask, annot=True, fmt=".2f", cmap='summer', annot_kws={'size':15})
plt.title('Correlation for Defaulters (Target 1)', fontsize=20)
plt.xticks(fontsize=12)
plt.yticks(fontsize=12)

plt.show();

#### Observation:

- "AMT_INCOME_TOTAL" has a very high positive correlation (close to 1) with itself, which is expected as it represents the perfect correlation of a variable with itself.

- There are several variables that have moderate to high positive correlations with "AMT_INCOME_TOTAL", such as "AMT_CREDIT", "AMT_ANNUITY", and 

- "AMT_GOODS_PRICE". This suggests that these variables are positively associated with the target variable, meaning higher values of these variables tend to correspond with higher income levels.

- Variables like "REGION_POPULATION_RELATIVE", "DAYS_BIRTH", and "DAYS_EMPLOYED" have low or near-zero correlations with "AMT_INCOME_TOTAL", indicating that they have little or no linear relationship with the target variable.

- Some variables, such as "REG_CITY_NOT_LIVE_CITY" and "LIVE_CITY_NOT_WORK_CITY", have moderate negative correlations with "AMT_INCOME_TOTAL", suggesting that higher values of these variables are associated with lower income levels.

- The correlation matrix appears to be symmetric about the diagonal, which is expected since the correlation between variable A and variable B should be the same as the correlation between variable B and variable A.

### Recommendations:

✨ Bank should give focus on providing cash loans rather than revolving loans, as cash loans are less likely to default.

✨ Female borrowers have a lower default rate. So, the bank should give a slight priority to female applicants.

✨ Clients who do not have any accompanying applicants should be the focus group.

✨ The safest segments of employment for lending are workers, commercial associates, and pensioners.

✨ Clients with higher education degrees should be given more loans.

✨ Married clients are safer than unmarried clients.

✨ Homeowners and tenants are more likely to seek loans and have a lower risk of defaulting compared to those living with their parents. The bank should prioritize loan applications from individuals who own or rent housing.

✨ People having a house or apartment are safer candidates for providing loans.

✨ Low-skill laborers and drivers should be given less priority, as they have a higher probability of making defaults.

✨ People with income less than 1 million and taking loans close to 1 million have a higher chance of defaults, so they should not be the focus.

✨ Married couples with fewer than five children are considered safe for providing loans.

✨ Clients with an annuity of less than 100K are on the safer side for the bank.

✨ Customers with higher education degrees, particularly those who are married, tend to take out larger loan amounts and have a lower risk of default. The bank could consider offering higher credit limits or loan amounts to this segment.

✨ 80-90% of customers who were previously canceled or refused are repayers. So, the bank has to reverify those applications.

✨ Clients who previously had an unused loan offer should not be given new loans despite having high incomes, as these clients have the maximum chance of defaulting on loans.

✨ Male borrowers with lower secondary or secondary education levels and very low to moderate incomes exhibit a higher chance of default. The bank should scrutinize such applications more carefully and potentially implement stricter lending criteria for this segment.

✨ Borrowers in the 20-40 age group tend to have a higher risk of default, while those above 40 exhibit lower default rates. The bank should factor in age-related risk patterns when assessing loan applications and adjust lending policies accordingly.

✨ The analysis revealed strong correlations between variables like AMT_CREDIT, AMT_ANNUITY, AMT_INCOME_TOTAL, and AMT_GOODS_PRICE. The bank could develop credit scoring models or risk assessment frameworks based on these correlated variables to better evaluate loan applications.